
<%- include("partials/menuheader"); -%>



<h1 class="delete">Blog(s) Verwijderen.</h1>
<form class="verwijder" action="/delete" method="post">


<%  posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<h4 class="posttype"><%=post.type%></h4>
<p>
  <%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Verder lezen</a>
  <input type="checkbox" name="checkbox" value="<%=post._id%>">
</p>


<% }) %>


<button type="submit" onclick="return deleteCheck()" class="btn btn-danger">Verwijderen</button>
</form>
<%- include("partials/footer"); -%>
