<%- include("partials/header"); -%>

<h2 class="title">Title</h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada lorem leo, et gravida lorem imperdiet in. Curabitur varius dui sed sapien ultricies, imperdiet posuere nisl feugiat. Duis imperdiet massa non maximus semper. Donec consequat
fermentum purus, ut vulputate mi accumsan vitae. Duis eleifend felis vitae ligula sagittis volutpat. Donec ultrices felis vel auctor varius. Donec eget purus malesuada magna vulputate egestas.

Aliquam id ante sodales, sagittis nisi ac, hendrerit ligula. Proin id eleifend justo. Aliquam erat volutpat. Nam eros tortor, maximus at tellus non, facilisis sagittis lacus. In hac habitasse platea dictumst. Fusce in ultrices felis, ac congue
tellus. Nullam non tortor sed augue egestas facilisis eget quis felis. Sed condimentum tortor in tincidunt tempus. Phasellus in porttitor tellus.

Quisque iaculis porttitor velit, sit amet aliquam sem convallis sed. Ut condimentum tellus ut ante varius lobortis. Morbi egestas condimentum orci ac vestibulum. Aenean eleifend diam eget ex pellentesque, non commodo ante gravida. Cras ex nisl,
malesuada quis posuere eget, accumsan mattis lorem. In id sagittis urna, at rhoncus libero. Integer posuere, mi eu pretium posuere, arcu turpis viverra justo, ac faucibus sem sem id est. Pellentesque non lacus ligula. Nunc sagittis dui quam, a
posuere lectus pretium eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit, felis sit amet tincidunt fringilla, dui purus volutpat nulla, quis semper tellus ligula ut orci.

Suspendisse tempor arcu urna, at blandit libero consequat pretium. Fusce imperdiet rhoncus augue nec feugiat. Ut fringilla fermentum viverra. Vestibulum aliquet nisi et erat accumsan, nec lobortis felis malesuada. Suspendisse semper, massa a
ullamcorper efficitur, ex libero suscipit nisi, ac pharetra risus felis vitae lacus. Donec ornare bibendum pharetra. Mauris faucibus tortor id egestas lobortis. Nunc fringilla, lacus nec tempus lacinia, arcu erat dapibus orci, sed volutpat nisi mi id
ex. Aliquam tincidunt eros ac orci imperdiet maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Integer sit amet tempus augue, et eleifend nulla. In hac habitasse platea dictumst. Ut dapibus metus non eros rutrum sollicitudin. Duis tortor arcu, mattis sit amet libero quis, suscipit finibus sapien. Maecenas enim risus, condimentum a mattis
iaculis, condimentum ac arcu. Cras cursus feugiat metus, nec facilisis lectus dignissim sit amet. Curabitur lobortis ante vel augue porta sodales. Aenean lobortis, neque nec ullamcorper rutrum, ex ante viverra neque, a vulputate est massa interdum
eros. Suspendisse ullamcorper faucibus dictum. Duis pharetra, elit eget fermentum ultrices, nisi nisl porta massa, et commodo lorem ligula non nisi. Vivamus nec lacus euismod, blandit dolor ac, pharetra eros. Maecenas bibendum dictum libero, nec
faucibus quam porttitor non. Vivamus mattis mi nisl, nec suscipit nisi malesuada a. Integer eget lorem euismod, ultrices ligula quis, mollis felis. Aenean pharetra dui ex, et dapibus diam ultricies a. Pellentesque accumsan placerat arcu ut hendrerit.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada lorem leo, et gravida lorem imperdiet in. Curabitur varius dui sed sapien ultricies, imperdiet posuere nisl feugiat. Duis imperdiet massa non maximus semper. Donec consequat
fermentum purus, ut vulputate mi accumsan vitae. Duis eleifend felis vitae ligula sagittis volutpat. Donec ultrices felis vel auctor varius. Donec eget purus malesuada magna vulputate egestas.

Aliquam id ante sodales, sagittis nisi ac, hendrerit ligula. Proin id eleifend justo. Aliquam erat volutpat. Nam eros tortor, maximus at tellus non, facilisis sagittis lacus. In hac habitasse platea dictumst. Fusce in ultrices felis, ac congue
tellus. Nullam non tortor sed augue egestas facilisis eget quis felis. Sed condimentum tortor in tincidunt tempus. Phasellus in porttitor tellus.

Quisque iaculis porttitor velit, sit amet aliquam sem convallis sed. Ut condimentum tellus ut ante varius lobortis. Morbi egestas condimentum orci ac vestibulum. Aenean eleifend diam eget ex pellentesque, non commodo ante gravida. Cras ex nisl,
malesuada quis posuere eget, accumsan mattis lorem. In id sagittis urna, at rhoncus libero. Integer posuere, mi eu pretium posuere, arcu turpis viverra justo, ac faucibus sem sem id est. Pellentesque non lacus ligula. Nunc sagittis dui quam, a
posuere lectus pretium eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit, felis sit amet tincidunt fringilla, dui purus volutpat nulla, quis semper tellus ligula ut orci.

Suspendisse tempor arcu urna, at blandit libero consequat pretium. Fusce imperdiet rhoncus augue nec feugiat. Ut fringilla fermentum viverra. Vestibulum aliquet nisi et erat accumsan, nec lobortis felis malesuada. Suspendisse semper, massa a
ullamcorper efficitur, ex libero suscipit nisi, ac pharetra risus felis vitae lacus. Donec ornare bibendum pharetra. Mauris faucibus tortor id egestas lobortis. Nunc fringilla, lacus nec tempus lacinia, arcu erat dapibus orci, sed volutpat nisi mi id
ex. Aliquam tincidunt eros ac orci imperdiet maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Integer sit amet tempus augue, et eleifend nulla. In hac habitasse platea dictumst. Ut dapibus metus non eros rutrum sollicitudin. Duis tortor arcu, mattis sit amet libero quis, suscipit finibus sapien. Maecenas enim risus, condimentum a mattis
iaculis, condimentum ac arcu. Cras cursus feugiat metus, nec facilisis lectus dignissim sit amet. Curabitur lobortis ante vel augue porta sodales. Aenean lobortis, neque nec ullamcorper rutrum, ex ante viverra neque, a vulputate est massa interdum
eros. Suspendisse ullamcorp

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada lorem leo, et gravida lorem imperdiet in. Curabitur varius dui sed sapien ultricies, imperdiet posuere nisl feugiat. Duis imperdiet massa non maximus semper. Donec consequat
fermentum purus, ut vulputate mi accumsan vitae. Duis eleifend felis vitae ligula sagittis volutpat. Donec ultrices felis vel auctor varius. Donec eget purus malesuada magna vulputate egestas.

Aliquam id ante sodales, sagittis nisi ac, hendrerit ligula. Proin id eleifend justo. Aliquam erat volutpat. Nam eros tortor, maximus at tellus non, facilisis sagittis lacus. In hac habitasse platea dictumst. Fusce in ultrices felis, ac congue
tellus. Nullam non tortor sed augue egestas facilisis eget quis felis. Sed condimentum tortor in tincidunt tempus. Phasellus in porttitor tellus.

Quisque iaculis porttitor velit, sit amet aliquam sem convallis sed. Ut condimentum tellus ut ante varius lobortis. Morbi egestas condimentum orci ac vestibulum. Aenean eleifend diam eget ex pellentesque, non commodo ante gravida. Cras ex nisl,
malesuada quis posuere eget, accumsan mattis lorem. In id sagittis urna, at rhoncus libero. Integer posuere, mi eu pretium posuere, arcu turpis viverra justo, ac faucibus sem sem id est. Pellentesque non lacus ligula. Nunc sagittis dui quam, a
posuere lectus pretium eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit, felis sit amet tincidunt fringilla, dui purus volutpat nulla, quis semper tellus ligula ut orci.

Suspendisse tempor arcu urna, at blandit libero consequat pretium. Fusce imperdiet rhoncus augue nec feugiat. Ut fringilla fermentum viverra. Vestibulum aliquet nisi et erat accumsan, nec lobortis felis malesuada. Suspendisse semper, massa a
ullamcorper efficitur, ex libero suscipit nisi, ac pharetra risus felis vitae lacus. Donec ornare bibendum pharetra. Mauris faucibus tortor id egestas lobortis. Nunc fringilla, lacus nec tempus lacinia, arcu erat dapibus orci, sed volutpat nisi mi id
ex. Aliquam tincidunt eros ac orci imperdiet maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Integer sit amet tempus augue, et eleifend nulla. In hac habitasse platea dictumst. Ut dapibus metus non eros rutrum sollicitudin. Duis tortor arcu, mattis sit amet libero quis, suscipit finibus sapien. Maecenas enim risus, condimentum a mattis
iaculis, condimentum ac arcu. Cras cursus feugiat metus, nec facilisis lectus dignissim sit amet. Curabitur lobortis ante vel augue porta sodales. Aenean lobortis, neque nec ullamcorper rutrum, ex ante viverra neque, a vulputate est massa interdum
eros. Suspendisse ullamcorp

<%  posts.forEach(function(post){ %>

<h1><%=post.title%></h1>
<p>
  <%=post.content.substring(0, 90) + " ..."%>
  <a href="/posts/<%=post._id%>">Verder lezen</a>
</p>


<% }) %>


<%- include("partials/footer"); -%>
